NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=id

ADMIN_EMAIL=admin-email
ADMIN_PASSWORD=password

DEMO_DONOR_EMAIL=donor-email
DEMO_DONOR_PASSWORD=password

DEMO_PATIENT_EMAIL=patient-email
DEMO_PATIENT_PASSWORD=password